{% extends 'base.html' %}

{% block content %}

&nbsp
<h1> &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp Fruit Smoothies:</h1>
&nbsp
<div class="row">
    {% for product in products %}
     <div class="col">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="{{ product.image_url }}">
            <div class="card-body">
                <h5 class="card-title">{{ product.name }}</h5>
                <p class="card-text">£{{ product.price }}</p>
                <a href="#" class="btn btn-primary">Add to Cart</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}